<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Error Occurred</title></head>
<body>
<h1>Une erreur est survenue :(</h1>
<b>[<span th:text="${status}">status</span>]
    <span th:text="${error}">error</span>
</b>
<p th:text="${message}">message</p>
</body>
</html>