<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

      <title>Home page</title>
  </head>

  <body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">ZenCentrale</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="#">Home</a>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Hello <span th:text=" ${currentUser}"></span> </h1>
                <p class="lead">ZenCentral is a platform that allows you to control your energy self-production.</p>
                <p class="lead">
                    <a href="/registration" class="btn btn-lg btn-secondary">Sign up</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p></p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </body>
</html>