<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>user infos</title>
</head>
<body>

<table>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.firstName}">Prénom</td>
        <td th:text="${user.lastName}">Nom</td>
        <td th:email="${user.email}">Email</td>
    </tr>
    </tbody>
</table>

</body>
</html>